.header {
    width: 100%;
    height: 40px;
    background-color: #FAA21B;
}

.header_list a {
    text-decoration: none;
    list-style: none;
    margin-top: 8px;
    color: aliceblue;

}

.header_list {
    display: flex;
    justify-content: space-between;
}

.first_new_img {
    width: 463.55px;
    height: 234.94px;
    object-fit: cover;
}

.first_new_title_link {
    font-size: 26px;
    text-decoration: none;
    list-style: none;
    color: black
}

.second_new_img {
    width: 221.77px;
    height: 234.94px;
    object-fit: cover;
}

.secone_new_title {
    font-size: 20px;
}

.article_list_item_img {
    width: 221.77px;
    height: 124.66px;
    object-fit: cover;
}

.title .title_a {
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 6px 0;
    font-weight: 400;
    font-family: SFD-Bold;
    color: #2d2d2d;
}

a {
    text-decoration: none;
    color: black;
}

.post-item {
    display: flex;
}

.item-img {
    display: flex;
    width: 265px;
    height: 149px;
    object-fit: cover;
}

h6 {
    font-weight: 700;
    /* font-family: SFD-Bold; */
}

.item-img-side {
    display: flex;
    width: 100px;
    height: 56px;

}

.d-flex {
    display: flex;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.title-side {
    border-left: 5px solid orange;
    padding-left: 1rem;
}

.pt-1 {
    padding-top: 1rem !important;
}

.show-content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.5em;
}

.show-content-index {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/*slider*/
.category-slider-header {
    padding-left: 10px;
    border-left: 5px solid #FDA13E;
    margin-bottom: 25px;
    margin-left: 15px;
}

.category-slider-header h3 {
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.slider-pc-content__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* slider  */
.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: left;
    margin-right: 20px;
    color: #666;
    margin-bottom: 3rem;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.slider-item .text-wrap-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
}

.slider-item .text-wrap-title:hover {
    color: red;
}

.slider-item .text-wrap-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.article-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}