.btn-login {
    width: 100%;
}

.wrapper {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    padding: 0 !important;
}

