.sidebar {
    color: #fff;
    overflow: hidden;
    background: rgba(113, 99, 186, 255);
}

.sidebar-list {
    list-style: none;
    padding: 0;
    justify-items: center;
}

.sidebar-list li {
    padding: 16px;
    margin: 8px 0;

}

.sidebar-list li a {
    text-decoration: none;
    color: white
}

.show-content-admin {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}